<h1>Your Cart</h1>

<% if notice %>
  <p><%= notice %></p>
<% end %>

<%#binding.pry%>

<%= render partial: 'carts/carts_index', locals: {current_cart: @cart}%>


<%if @cart.status=="pending" %>
<%= button_to 'Checkout', checkout_path %>
<% end %>
